
    
    <h1>Books List</h1>
    
    <!-- <div class="row">
        <div class="col-1">ID</div>
        <div class="col-3">Title</div>
        <div class="col-4">Description</div>
        <div class="col-2">Author</div>
        <div class="col-2">Actions</div>
    </div> -->

    <div class="row">
        <div *ngFor="let oszlop of oszlopok" class="col">{{oszlop}}</div>
        <div class="col">Actions</div>
    </div>

    <div class="row mt-2">
        <div *ngFor="let oszlop of oszlopok" class="col">
            <input [(ngModel)]="newBook[oszlop]" type="text" class="form-control">
        </div>
        <div class="col">
            <button (click)="postBook()" class="btn btn-primary">Add</button>
        </div>
    </div>


    <div *ngFor="let book of books" class="row mt-2">
        <div *ngFor="let oszlop of oszlopok" class="col">
            <input [(ngModel)]="book[oszlop]" type="text" class="form-control">
        </div>
        <div class="col">
            <button (click)="putBook(book)" class="btn btn-warning">Save</button>
            <button (click)="deleteBook(book)" class="btn btn-danger ms-2">Delete</button>
        </div>
    </div>
    
